banner login %
    Logging in to {{ hostname }}, {{ ip_address }}
      Location: {{ site }}
      Serial: {{ serial }}
      OS: {{ os_version }}
    
    Legacy CLI enabled, but automation is prefered.
%